<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="menu_kitchen_root"
              name="Kitchen Display"
              sequence="10"
              />

    <!-- Live KDS screen -->
    <menuitem id="menu_kitchen_display_screen"
              name="🖥  Display Screen"
              parent="menu_kitchen_root"
              action="action_kitchen_display"
              sequence="1"/>

    <!-- Admin: manage orders -->
    <menuitem id="menu_kitchen_orders"
              name="📋  Manage Orders"
              parent="menu_kitchen_root"
              action="action_kitchen_order"
              sequence="2"/>

</odoo>
